@media only screen and (max-width: 639px){
    .logo__container__img {
        
        border: none;
    }
    .menu__container {
        display: none;
    }

    .menu__mobile__container {
        display: block;
    }

    .items {
    max-width: 90%;

    }

    .mobile__cart__icon {
        width: 50px;
        margin: 15px;
    }

    .hero__image {
        background: url('../images/hero-image-home.png');
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 15px;
        align-items: flex-end;
        display: flex;
    }

    .hero__text__h1 {
        width: 320px;
        line-height: 1.3;
        font-size: 50px;
        color: white;
        padding: 0 0 175px 0;
        text-align: center;
    }

    .shop_by_h2 {
        font-size: 50px;   
        font-weight: bold;
        margin: 60px 0 40px 15px;
    }

    .shop__by__flexbox__ul {
        display: flex;
        justify-content: space-between;
        max-width: 345px;
        font-size: 20px;
        color: #212121;
        font-weight: 300;
        padding: 0 15px;
    
    }

    .shop__by__items__container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0;
        justify-content: space-evenly;
    
    }

    .banner__image {
        background: url('../images/banner-image.png');
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .banner__h2__text {
        color: white;
        width: 312px;
        line-height: 1.3;
        font-size: 57px; 
        color: white;
        padding: 22px 0 30px 0;
        text-align: center;
    }


    .banner__text__section .banner__p__text {
        color: white;
        font-size: 28px;
        width: 312px;
        line-height: 1.3;
        padding: 0 0 40px 8px;
        text-align: center;
    }

    .button {
        background-color: #D500F9;
        border: none;
        color: white;
        padding: 15px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 60px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 8px;
        width: 304px;
    }

    .button:hover {
        background-color: rgb(172, 0, 202);
        color: white;
        transition: 0.7s;
        cursor: pointer;
    }

    .background {
        background-color: black;
        height: 260px;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
  
    .form__container {
        
    }
  
  .form__h2 {
    color: white;
    margin: 60px 0 8px;
    font-size: 22px;
    text-align: center;
  }
  
  input[type=text]{
    width: 253px;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 60px;
    margin: 8px 0 22px 8px;
    display: inline-block;
    border: none;
    background: #FFFFFF;
  }
  
  input[type=text]:focus {
      background-color: #dfdfdf;
      outline: none;
  }
  
  .subscribe {
      background-color: #D500F9;
      color: white;
      padding: 15px 25px;
      margin-left: 8px;
      border-radius: 60px;
      border: none;
      font-size: 18px;
      cursor: pointer;
      width: 304px;
      font-weight: 700;
      text-transform: uppercase;
  }
    
  .subscribe:hover {
      background-color: rgb(172, 0, 202);
      color: white;
      transition: 0.7s;
  }
  
  .footer__container__nav__menus {
      background-color: black;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; 

  }
  
 .footer__nav__menus {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer__h2_title {
    color: white;
    text-transform: uppercase; 
    padding-bottom: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center
}

  
.sub__links {
    text-decoration: none;
    color: white;
    line-height: 3.2;
    font-weight: 300;
    display: flex;
    justify-content: center;
}


.social__media__icons__container {
    background: black;
    max-width: 100%;
    
   
}

.social__media__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}
  

.social__media__icons a img {
    width: 40px;
    margin: 50px 0 50px 0px;
}
 

.footer__privacy__container__links{
    background: black;
    max-width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;    
    
}

.footer__privacy__flex {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer__links__text {
    color: white;
    border-right: none;
    text-decoration: none;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

}

.footer__copyright__container {
    background: #95989A;
    max-width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}



/* this is product-page-green-goblin css */

.footer__copyright__text{
    color: white;
}

.back__button__a {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 100px;
    margin-left: 20px;
}

.left__images {
    width: 90%;
    margin: auto;
}

.shorts__main {
    width: 100%;
}

.shorts__small {
    width: 29.9%;
    padding: 12px 10px 70px 0;
} 

.shorts__small_container {
    margin-bottom: -66px;
}

.product__h2__text {
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 20px;
    display: flex;
    justify-content: center;
}

.product__p__text {
    margin: 25px 0 25px 0;
    color: #212121;
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
}

.link__tags {
    text-decoration: none;
}

.image__sizes {
    width: 50px;
    margin: 5.3px;
}

.product__price__text {
    color: #212121;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #D500F9;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    
}

.banner__image {
    background: url('../images/banner-image-see-the-world-wear-it.png');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner__text {
    width: 152px;
    line-height: 1.3;
    font-size: 40px;
    color: black;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding-bottom: 170px;
    padding-left: 150px;

}

/* this is product-page-furburger css */


.shorts__small.no__margin__right {
    margin: 0;
}

.right__text {
    margin-left: 0;
}

.images {
    width: 30.9%;
    height: 100%;
    margin: 0 11px 0 0;
}

.furburger__image__size {
    max-width: 100%;
}


.furburger__image__4 {
    background: url('../images/furburger-image-4.png');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
}

/* this is trend page css */

.hero__trend__image {
    background: url('../images/trends-image-1.png');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 15px;
    
}

.hero__left__align__text__h1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: -webkit-center;
    margin-left: -85px;
}

.hero__title {
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
    
}

.trend__text {
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 1.3;
    width: 297px;
    padding-bottom: 40px;
    padding-left: 14px;
}

.button {
    background-color: #D500F9;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
    
    
}

.summer__season__container {
    background-color: black;
    height: 550px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.left__text {
    color: white;
    flex: 0;
    margin-top: 50px;
    padding: 0;
    text-align: center;
}

.right__image {
    background: none;
    flex: 0;
    padding: 0;
}

.summer_season__title {
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}


.summer__season__text {
    line-height: 1.5;
    font-size: 18px;
    padding: 0 8px 40px 8px;
}


.button {
    background-color: #D500F9;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    
}

.banner__container {
    background-image: url('../images/trends-image-3.png');
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
  
}

.banner__h2__text {
    text-align: left;
    position: absolute;
    top: 80%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}




















}

